<!DOCTYPE html>
<html>
<head>
    <title>Employee List</title>
</head>
<body>
    <h1>Employee List</h1>
    <form method="get">
        <input type="text" name="qu" value="{{ query }}">
        <button type="submit">Search</button>
    </form>
    <div class="result">
     <ul>
            {% for employee in employees %}
                <li>{{ employee.name }} - {{ employee.email }} - {{ employee.hire_date }} - {{ employee.department }}</li>
            {% empty %}
                <li>No employees found.</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
